@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{box-sizing: border-box}

html{
	font: 10px 'Open Sans', serif;
	font-size: 10px;
	height: 100%}

body{
	font-size: 1.6rem;
	color: #333;
	min-height: 100%;
	
}
.board{
	width: 40%;
	padding-top: 40%;
	border: 1px solid #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
    background-image: linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black), 
                      linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black);
    background-size: 25% 25%;
    background-position: 0 0, 16.5% 16.5%;
}
.checkers{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #000;
}
.checker{
	width: 10%;
	padding-top: 10%;
	display: inline-block;
	border: 1px solid #f00;
	border-radius: 50%;
	background-color: #f00;
	position: absolute;
	transform: translate(-50%, -50%);
}

.checker--opponent{
	border: 1px solid #ef0;
	background-color: #ef0;
}

.row-1 {
	top: 6.2%;
}
.row-2 {
	top: 18.7%;
}
.row-3 {
	top: 31.2%;
}
.row-4 {
	top: 43.7%;
}
.row-5 {
	top: 56.2%;
}
.row-6 {
	top: 68.7%;
}
.row-7 {
	top: 81.2%;
}
.row-8 {
	top: 93.2%;
}

.col-1 {
	left: 6.2%;
}
.col-2 {
	left: 18.7%;
}
.col-3 {
	left: 31.2%;
}
.col-4 {
	left: 43.7%;
}
.col-5 {
	left: 56.2%;
}
.col-6 {
	left: 68.7%;
}
.col-7 {
	left: 81.2%;
}
.col-8 {
	left: 93.2%;
}